NUXT_PUBLIC_ENVIRONMENT=development
NUXT_PUBLIC_MEDIA_BASE=https://umbraco.hoite.dev
NUXT_PUBLIC_FALLBACK_LOCALE=en
NUXT_UMBRACO_BASE_URL=https://umbraco.hoite.dev
NUXT_UMBRACO_DELIVERY_API_KEY=
NUXT_UMBRACO_EXCLUDED_DOC_TYPES=
UMBRACO_OPENAPI_URL=https://umbraco.example.com/umbraco/swagger/delivery/swagger.json
