NUXT_PUBLIC_ENVIRONMENT=development
NUXT_PUBLIC_MEDIA_BASE=
NUXT_PUBLIC_FALLBACK_LOCALE=en
NUXT_PUBLIC_SITE_BASE_URL=https://site-nuxt.local.hoite.dev:3000
NUXT_UMBRACO_BASE_URL=
NUXT_UMBRACO_DELIVERY_API_KEY=
NUXT_UMBRACO_EXCLUDED_DOC_TYPES=
NUXT_UMBRACO_START_ITEM=
