.git
.github
.turbo
node_modules
coverage
*.log
.DS_Store
.env
!.env.example

apps/**/.cache
apps/**/.data
apps/**/.nitro
apps/**/.nuxt
apps/**/.output
apps/**/dist
apps/**/storybook-static
apps/**/node_modules
apps/**/.env
apps/**/.env.*
!apps/**/.env.example
apps/frontend-docs/hub/public/design-tokens.source.json
ssl

packages/*/.build
packages/*/dist
packages/*/node_modules
