.git
.github
.turbo
node_modules
coverage
*.log
.DS_Store
.env
!.env.example

apps/*/.cache
apps/*/.data
apps/*/.nitro
apps/*/.nuxt
apps/*/.output
apps/*/dist
apps/*/node_modules
apps/*/.env
apps/*/.env.*
!apps/*/.env.example
ssl

packages/*/dist
packages/*/node_modules
