@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* TODO: Media queries */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: var(--default-heading-spacing);
}

h1 {
  font-weight: 700;
  font-size: calc(var(--default-text-size) * 3);
}

h2 {
  font-weight: 700;
  font-size: calc(var(--default-text-size) * 2.5);
}

h3 {
  font-weight: 600;
  font-size: calc(var(--default-text-size) * 2);
}

h4 {
  font-weight: 500;
  font-size: calc(var(--default-text-size) * 1.5);
}

h5 {
  font-weight: 400;
  font-size: calc(var(--default-text-size) * 1.25);
}

h6 {
  font-weight: 300;
  font-size: var(--default-text-size);
}

body, p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: var(--default-text-size);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

a {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

pre, code {
  font-weight: 400;
  font-size: calc(var(--default-text-size) * 1.25);
}
