@import '_normalize.css';
@import '_typography.css';
@import '_grid.css';
@import '_themes.css';

html, body {
  height: 100%; 
  scroll-behavior: smooth; 
}

html {
  color-scheme: dark light;

  &:focus-within {
    scroll-behavior: smooth; 
  }
}

body {
  margin: 0;
  background: var(--body-bg-color);
  color: var(--default-text-color);
}
