  .section-grid__mobile-col-span--1-2,
  .section-grid__mobile-col-span--start-2 {
    > * {
      grid-column: mobile-grid-start / 2 ;
    }
  }

  .section-grid__mobile-col-span--1-2 {
    > * {
      grid-column: 1 / 2;
    }
  }

  .section-grid__mobile-col-span--1-3,
  .section-grid__mobile-col-span--start-3 {
    > * {
      grid-column: mobile-grid-start / 3 ;
    }
  }

  .section-grid__mobile-col-span--1-3 {
    > * {
      grid-column: 1 / 3;
    }
  }

  .section-grid__mobile-col-span--1-4,
  .section-grid__mobile-col-span--start-4 {
    > * {
      grid-column: mobile-grid-start / 4 ;
    }
  }

  .section-grid__mobile-col-span--1-4 {
    > * {
      grid-column: 1 / 4;
    }
  }

  .section-grid__mobile-col-span--1-5,
  .section-grid__mobile-col-span--start-5 {
    > * {
      grid-column: mobile-grid-start / 5 ;
    }
  }

  .section-grid__mobile-col-span--1-end, 
  .section-grid__mobile-col-span--1-5,
  .section-grid__mobile-col-span--full {
    > * {
      grid-column: 1 / mobile-grid-end;
    }
  }

  .section-grid__mobile-col-span--2-3 {
    > * {
      grid-column: 2 / 3;
    }
  }

  .section-grid__mobile-col-span--2-4 {
    > * {
      grid-column: 2 / 4;
    }
  }

  .section-grid__mobile-col-span--2-end, 
  .section-grid__mobile-col-span--2-5 {
    > * {
      grid-column: 2 / mobile-grid-end;
    }
  }

  .section-grid__mobile-col-span--3-4 {
    > * {
      grid-column: 3 / 4;
    }
  }

  .section-grid__mobile-col-span--3-end, 
  .section-grid__mobile-col-span--3-5 {
    > * {
      grid-column: 3 / mobile-grid-end;
    }
  }

  .section-grid__mobile-col-span--4-end, 
  .section-grid__mobile-col-span--4-5 {
    > * {
      grid-column: 4 / mobile-grid-end;
    }
  }

@media (min-width: 576px) {
  .section-grid__tablet-col-span--1-2,
  .section-grid__tablet-col-span--start-2 {
    > * {
      grid-column: tablet-grid-start / 2 ;
    }
  }

  .section-grid__tablet-col-span--1-2 {
    > * {
      grid-column: 1 / 2;
    }
  }

  .section-grid__tablet-col-span--1-3,
  .section-grid__tablet-col-span--start-3 {
    > * {
      grid-column: tablet-grid-start / 3 ;
    }
  }

  .section-grid__tablet-col-span--1-3 {
    > * {
      grid-column: 1 / 3;
    }
  }

  .section-grid__tablet-col-span--1-4,
  .section-grid__tablet-col-span--start-4 {
    > * {
      grid-column: tablet-grid-start / 4 ;
    }
  }

  .section-grid__tablet-col-span--1-4 {
    > * {
      grid-column: 1 / 4;
    }
  }

  .section-grid__tablet-col-span--1-5,
  .section-grid__tablet-col-span--start-5 {
    > * {
      grid-column: tablet-grid-start / 5 ;
    }
  }

  .section-grid__tablet-col-span--1-5 {
    > * {
      grid-column: 1 / 5;
    }
  }

  .section-grid__tablet-col-span--1-6,
  .section-grid__tablet-col-span--start-6 {
    > * {
      grid-column: tablet-grid-start / 6 ;
    }
  }

  .section-grid__tablet-col-span--1-6 {
    > * {
      grid-column: 1 / 6;
    }
  }

  .section-grid__tablet-col-span--1-7,
  .section-grid__tablet-col-span--start-7 {
    > * {
      grid-column: tablet-grid-start / 7 ;
    }
  }

  .section-grid__tablet-col-span--1-7 {
    > * {
      grid-column: 1 / 7;
    }
  }

  .section-grid__tablet-col-span--1-8,
  .section-grid__tablet-col-span--start-8 {
    > * {
      grid-column: tablet-grid-start / 8 ;
    }
  }

  .section-grid__tablet-col-span--1-8 {
    > * {
      grid-column: 1 / 8;
    }
  }

  .section-grid__tablet-col-span--1-9,
  .section-grid__tablet-col-span--start-9 {
    > * {
      grid-column: tablet-grid-start / 9 ;
    }
  }

  .section-grid__tablet-col-span--1-end, 
  .section-grid__tablet-col-span--1-9,
  .section-grid__tablet-col-span--full {
    > * {
      grid-column: 1 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--2-3 {
    > * {
      grid-column: 2 / 3;
    }
  }

  .section-grid__tablet-col-span--2-4 {
    > * {
      grid-column: 2 / 4;
    }
  }

  .section-grid__tablet-col-span--2-5 {
    > * {
      grid-column: 2 / 5;
    }
  }

  .section-grid__tablet-col-span--2-6 {
    > * {
      grid-column: 2 / 6;
    }
  }

  .section-grid__tablet-col-span--2-7 {
    > * {
      grid-column: 2 / 7;
    }
  }

  .section-grid__tablet-col-span--2-8 {
    > * {
      grid-column: 2 / 8;
    }
  }

  .section-grid__tablet-col-span--2-end, 
  .section-grid__tablet-col-span--2-9 {
    > * {
      grid-column: 2 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--3-4 {
    > * {
      grid-column: 3 / 4;
    }
  }

  .section-grid__tablet-col-span--3-5 {
    > * {
      grid-column: 3 / 5;
    }
  }

  .section-grid__tablet-col-span--3-6 {
    > * {
      grid-column: 3 / 6;
    }
  }

  .section-grid__tablet-col-span--3-7 {
    > * {
      grid-column: 3 / 7;
    }
  }

  .section-grid__tablet-col-span--3-8 {
    > * {
      grid-column: 3 / 8;
    }
  }

  .section-grid__tablet-col-span--3-end, 
  .section-grid__tablet-col-span--3-9 {
    > * {
      grid-column: 3 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--4-5 {
    > * {
      grid-column: 4 / 5;
    }
  }

  .section-grid__tablet-col-span--4-6 {
    > * {
      grid-column: 4 / 6;
    }
  }

  .section-grid__tablet-col-span--4-7 {
    > * {
      grid-column: 4 / 7;
    }
  }

  .section-grid__tablet-col-span--4-8 {
    > * {
      grid-column: 4 / 8;
    }
  }

  .section-grid__tablet-col-span--4-end, 
  .section-grid__tablet-col-span--4-9 {
    > * {
      grid-column: 4 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--5-6 {
    > * {
      grid-column: 5 / 6;
    }
  }

  .section-grid__tablet-col-span--5-7 {
    > * {
      grid-column: 5 / 7;
    }
  }

  .section-grid__tablet-col-span--5-8 {
    > * {
      grid-column: 5 / 8;
    }
  }

  .section-grid__tablet-col-span--5-end, 
  .section-grid__tablet-col-span--5-9 {
    > * {
      grid-column: 5 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--6-7 {
    > * {
      grid-column: 6 / 7;
    }
  }

  .section-grid__tablet-col-span--6-8 {
    > * {
      grid-column: 6 / 8;
    }
  }

  .section-grid__tablet-col-span--6-end, 
  .section-grid__tablet-col-span--6-9 {
    > * {
      grid-column: 6 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--7-8 {
    > * {
      grid-column: 7 / 8;
    }
  }

  .section-grid__tablet-col-span--7-end, 
  .section-grid__tablet-col-span--7-9 {
    > * {
      grid-column: 7 / tablet-grid-end;
    }
  }

  .section-grid__tablet-col-span--8-end, 
  .section-grid__tablet-col-span--8-9 {
    > * {
      grid-column: 8 / tablet-grid-end;
    }
  }

}

@media (min-width: 1024px) {
  .section-grid__laptop-col-span--1-2,
  .section-grid__laptop-col-span--start-2 {
    > * {
      grid-column: laptop-grid-start / 2 ;
    }
  }

  .section-grid__laptop-col-span--1-2 {
    > * {
      grid-column: 1 / 2;
    }
  }

  .section-grid__laptop-col-span--1-3,
  .section-grid__laptop-col-span--start-3 {
    > * {
      grid-column: laptop-grid-start / 3 ;
    }
  }

  .section-grid__laptop-col-span--1-3 {
    > * {
      grid-column: 1 / 3;
    }
  }

  .section-grid__laptop-col-span--1-4,
  .section-grid__laptop-col-span--start-4 {
    > * {
      grid-column: laptop-grid-start / 4 ;
    }
  }

  .section-grid__laptop-col-span--1-4 {
    > * {
      grid-column: 1 / 4;
    }
  }

  .section-grid__laptop-col-span--1-5,
  .section-grid__laptop-col-span--start-5 {
    > * {
      grid-column: laptop-grid-start / 5 ;
    }
  }

  .section-grid__laptop-col-span--1-5 {
    > * {
      grid-column: 1 / 5;
    }
  }

  .section-grid__laptop-col-span--1-6,
  .section-grid__laptop-col-span--start-6 {
    > * {
      grid-column: laptop-grid-start / 6 ;
    }
  }

  .section-grid__laptop-col-span--1-6 {
    > * {
      grid-column: 1 / 6;
    }
  }

  .section-grid__laptop-col-span--1-7,
  .section-grid__laptop-col-span--start-7 {
    > * {
      grid-column: laptop-grid-start / 7 ;
    }
  }

  .section-grid__laptop-col-span--1-7 {
    > * {
      grid-column: 1 / 7;
    }
  }

  .section-grid__laptop-col-span--1-8,
  .section-grid__laptop-col-span--start-8 {
    > * {
      grid-column: laptop-grid-start / 8 ;
    }
  }

  .section-grid__laptop-col-span--1-8 {
    > * {
      grid-column: 1 / 8;
    }
  }

  .section-grid__laptop-col-span--1-9,
  .section-grid__laptop-col-span--start-9 {
    > * {
      grid-column: laptop-grid-start / 9 ;
    }
  }

  .section-grid__laptop-col-span--1-9 {
    > * {
      grid-column: 1 / 9;
    }
  }

  .section-grid__laptop-col-span--1-10,
  .section-grid__laptop-col-span--start-10 {
    > * {
      grid-column: laptop-grid-start / 10 ;
    }
  }

  .section-grid__laptop-col-span--1-10 {
    > * {
      grid-column: 1 / 10;
    }
  }

  .section-grid__laptop-col-span--1-11,
  .section-grid__laptop-col-span--start-11 {
    > * {
      grid-column: laptop-grid-start / 11 ;
    }
  }

  .section-grid__laptop-col-span--1-11 {
    > * {
      grid-column: 1 / 11;
    }
  }

  .section-grid__laptop-col-span--1-12,
  .section-grid__laptop-col-span--start-12 {
    > * {
      grid-column: laptop-grid-start / 12 ;
    }
  }

  .section-grid__laptop-col-span--1-12 {
    > * {
      grid-column: 1 / 12;
    }
  }

  .section-grid__laptop-col-span--1-13,
  .section-grid__laptop-col-span--start-13 {
    > * {
      grid-column: laptop-grid-start / 13 ;
    }
  }

  .section-grid__laptop-col-span--1-end, 
  .section-grid__laptop-col-span--1-13,
  .section-grid__laptop-col-span--full {
    > * {
      grid-column: 1 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--2-3 {
    > * {
      grid-column: 2 / 3;
    }
  }

  .section-grid__laptop-col-span--2-4 {
    > * {
      grid-column: 2 / 4;
    }
  }

  .section-grid__laptop-col-span--2-5 {
    > * {
      grid-column: 2 / 5;
    }
  }

  .section-grid__laptop-col-span--2-6 {
    > * {
      grid-column: 2 / 6;
    }
  }

  .section-grid__laptop-col-span--2-7 {
    > * {
      grid-column: 2 / 7;
    }
  }

  .section-grid__laptop-col-span--2-8 {
    > * {
      grid-column: 2 / 8;
    }
  }

  .section-grid__laptop-col-span--2-9 {
    > * {
      grid-column: 2 / 9;
    }
  }

  .section-grid__laptop-col-span--2-10 {
    > * {
      grid-column: 2 / 10;
    }
  }

  .section-grid__laptop-col-span--2-11 {
    > * {
      grid-column: 2 / 11;
    }
  }

  .section-grid__laptop-col-span--2-12 {
    > * {
      grid-column: 2 / 12;
    }
  }

  .section-grid__laptop-col-span--2-end, 
  .section-grid__laptop-col-span--2-13 {
    > * {
      grid-column: 2 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--3-4 {
    > * {
      grid-column: 3 / 4;
    }
  }

  .section-grid__laptop-col-span--3-5 {
    > * {
      grid-column: 3 / 5;
    }
  }

  .section-grid__laptop-col-span--3-6 {
    > * {
      grid-column: 3 / 6;
    }
  }

  .section-grid__laptop-col-span--3-7 {
    > * {
      grid-column: 3 / 7;
    }
  }

  .section-grid__laptop-col-span--3-8 {
    > * {
      grid-column: 3 / 8;
    }
  }

  .section-grid__laptop-col-span--3-9 {
    > * {
      grid-column: 3 / 9;
    }
  }

  .section-grid__laptop-col-span--3-10 {
    > * {
      grid-column: 3 / 10;
    }
  }

  .section-grid__laptop-col-span--3-11 {
    > * {
      grid-column: 3 / 11;
    }
  }

  .section-grid__laptop-col-span--3-12 {
    > * {
      grid-column: 3 / 12;
    }
  }

  .section-grid__laptop-col-span--3-end, 
  .section-grid__laptop-col-span--3-13 {
    > * {
      grid-column: 3 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--4-5 {
    > * {
      grid-column: 4 / 5;
    }
  }

  .section-grid__laptop-col-span--4-6 {
    > * {
      grid-column: 4 / 6;
    }
  }

  .section-grid__laptop-col-span--4-7 {
    > * {
      grid-column: 4 / 7;
    }
  }

  .section-grid__laptop-col-span--4-8 {
    > * {
      grid-column: 4 / 8;
    }
  }

  .section-grid__laptop-col-span--4-9 {
    > * {
      grid-column: 4 / 9;
    }
  }

  .section-grid__laptop-col-span--4-10 {
    > * {
      grid-column: 4 / 10;
    }
  }

  .section-grid__laptop-col-span--4-11 {
    > * {
      grid-column: 4 / 11;
    }
  }

  .section-grid__laptop-col-span--4-12 {
    > * {
      grid-column: 4 / 12;
    }
  }

  .section-grid__laptop-col-span--4-end, 
  .section-grid__laptop-col-span--4-13 {
    > * {
      grid-column: 4 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--5-6 {
    > * {
      grid-column: 5 / 6;
    }
  }

  .section-grid__laptop-col-span--5-7 {
    > * {
      grid-column: 5 / 7;
    }
  }

  .section-grid__laptop-col-span--5-8 {
    > * {
      grid-column: 5 / 8;
    }
  }

  .section-grid__laptop-col-span--5-9 {
    > * {
      grid-column: 5 / 9;
    }
  }

  .section-grid__laptop-col-span--5-10 {
    > * {
      grid-column: 5 / 10;
    }
  }

  .section-grid__laptop-col-span--5-11 {
    > * {
      grid-column: 5 / 11;
    }
  }

  .section-grid__laptop-col-span--5-12 {
    > * {
      grid-column: 5 / 12;
    }
  }

  .section-grid__laptop-col-span--5-end, 
  .section-grid__laptop-col-span--5-13 {
    > * {
      grid-column: 5 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--6-7 {
    > * {
      grid-column: 6 / 7;
    }
  }

  .section-grid__laptop-col-span--6-8 {
    > * {
      grid-column: 6 / 8;
    }
  }

  .section-grid__laptop-col-span--6-9 {
    > * {
      grid-column: 6 / 9;
    }
  }

  .section-grid__laptop-col-span--6-10 {
    > * {
      grid-column: 6 / 10;
    }
  }

  .section-grid__laptop-col-span--6-11 {
    > * {
      grid-column: 6 / 11;
    }
  }

  .section-grid__laptop-col-span--6-12 {
    > * {
      grid-column: 6 / 12;
    }
  }

  .section-grid__laptop-col-span--6-end, 
  .section-grid__laptop-col-span--6-13 {
    > * {
      grid-column: 6 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--7-8 {
    > * {
      grid-column: 7 / 8;
    }
  }

  .section-grid__laptop-col-span--7-9 {
    > * {
      grid-column: 7 / 9;
    }
  }

  .section-grid__laptop-col-span--7-10 {
    > * {
      grid-column: 7 / 10;
    }
  }

  .section-grid__laptop-col-span--7-11 {
    > * {
      grid-column: 7 / 11;
    }
  }

  .section-grid__laptop-col-span--7-12 {
    > * {
      grid-column: 7 / 12;
    }
  }

  .section-grid__laptop-col-span--7-end, 
  .section-grid__laptop-col-span--7-13 {
    > * {
      grid-column: 7 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--8-9 {
    > * {
      grid-column: 8 / 9;
    }
  }

  .section-grid__laptop-col-span--8-10 {
    > * {
      grid-column: 8 / 10;
    }
  }

  .section-grid__laptop-col-span--8-11 {
    > * {
      grid-column: 8 / 11;
    }
  }

  .section-grid__laptop-col-span--8-12 {
    > * {
      grid-column: 8 / 12;
    }
  }

  .section-grid__laptop-col-span--8-end, 
  .section-grid__laptop-col-span--8-13 {
    > * {
      grid-column: 8 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--9-10 {
    > * {
      grid-column: 9 / 10;
    }
  }

  .section-grid__laptop-col-span--9-11 {
    > * {
      grid-column: 9 / 11;
    }
  }

  .section-grid__laptop-col-span--9-12 {
    > * {
      grid-column: 9 / 12;
    }
  }

  .section-grid__laptop-col-span--9-end, 
  .section-grid__laptop-col-span--9-13 {
    > * {
      grid-column: 9 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--10-11 {
    > * {
      grid-column: 10 / 11;
    }
  }

  .section-grid__laptop-col-span--10-12 {
    > * {
      grid-column: 10 / 12;
    }
  }

  .section-grid__laptop-col-span--10-end, 
  .section-grid__laptop-col-span--10-13 {
    > * {
      grid-column: 10 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--11-12 {
    > * {
      grid-column: 11 / 12;
    }
  }

  .section-grid__laptop-col-span--11-end, 
  .section-grid__laptop-col-span--11-13 {
    > * {
      grid-column: 11 / laptop-grid-end;
    }
  }

  .section-grid__laptop-col-span--12-end, 
  .section-grid__laptop-col-span--12-13 {
    > * {
      grid-column: 12 / laptop-grid-end;
    }
  }

}

@media (min-width: 1280px) {
  .section-grid__small-desktop-col-span--1-2,
  .section-grid__small-desktop-col-span--start-2 {
    > * {
      grid-column: small-desktop-grid-start / 2 ;
    }
  }

  .section-grid__small-desktop-col-span--1-2 {
    > * {
      grid-column: 1 / 2;
    }
  }

  .section-grid__small-desktop-col-span--1-3,
  .section-grid__small-desktop-col-span--start-3 {
    > * {
      grid-column: small-desktop-grid-start / 3 ;
    }
  }

  .section-grid__small-desktop-col-span--1-3 {
    > * {
      grid-column: 1 / 3;
    }
  }

  .section-grid__small-desktop-col-span--1-4,
  .section-grid__small-desktop-col-span--start-4 {
    > * {
      grid-column: small-desktop-grid-start / 4 ;
    }
  }

  .section-grid__small-desktop-col-span--1-4 {
    > * {
      grid-column: 1 / 4;
    }
  }

  .section-grid__small-desktop-col-span--1-5,
  .section-grid__small-desktop-col-span--start-5 {
    > * {
      grid-column: small-desktop-grid-start / 5 ;
    }
  }

  .section-grid__small-desktop-col-span--1-5 {
    > * {
      grid-column: 1 / 5;
    }
  }

  .section-grid__small-desktop-col-span--1-6,
  .section-grid__small-desktop-col-span--start-6 {
    > * {
      grid-column: small-desktop-grid-start / 6 ;
    }
  }

  .section-grid__small-desktop-col-span--1-6 {
    > * {
      grid-column: 1 / 6;
    }
  }

  .section-grid__small-desktop-col-span--1-7,
  .section-grid__small-desktop-col-span--start-7 {
    > * {
      grid-column: small-desktop-grid-start / 7 ;
    }
  }

  .section-grid__small-desktop-col-span--1-7 {
    > * {
      grid-column: 1 / 7;
    }
  }

  .section-grid__small-desktop-col-span--1-8,
  .section-grid__small-desktop-col-span--start-8 {
    > * {
      grid-column: small-desktop-grid-start / 8 ;
    }
  }

  .section-grid__small-desktop-col-span--1-8 {
    > * {
      grid-column: 1 / 8;
    }
  }

  .section-grid__small-desktop-col-span--1-9,
  .section-grid__small-desktop-col-span--start-9 {
    > * {
      grid-column: small-desktop-grid-start / 9 ;
    }
  }

  .section-grid__small-desktop-col-span--1-9 {
    > * {
      grid-column: 1 / 9;
    }
  }

  .section-grid__small-desktop-col-span--1-10,
  .section-grid__small-desktop-col-span--start-10 {
    > * {
      grid-column: small-desktop-grid-start / 10 ;
    }
  }

  .section-grid__small-desktop-col-span--1-10 {
    > * {
      grid-column: 1 / 10;
    }
  }

  .section-grid__small-desktop-col-span--1-11,
  .section-grid__small-desktop-col-span--start-11 {
    > * {
      grid-column: small-desktop-grid-start / 11 ;
    }
  }

  .section-grid__small-desktop-col-span--1-11 {
    > * {
      grid-column: 1 / 11;
    }
  }

  .section-grid__small-desktop-col-span--1-12,
  .section-grid__small-desktop-col-span--start-12 {
    > * {
      grid-column: small-desktop-grid-start / 12 ;
    }
  }

  .section-grid__small-desktop-col-span--1-12 {
    > * {
      grid-column: 1 / 12;
    }
  }

  .section-grid__small-desktop-col-span--1-13,
  .section-grid__small-desktop-col-span--start-13 {
    > * {
      grid-column: small-desktop-grid-start / 13 ;
    }
  }

  .section-grid__small-desktop-col-span--1-end, 
  .section-grid__small-desktop-col-span--1-13,
  .section-grid__small-desktop-col-span--full {
    > * {
      grid-column: 1 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--2-3 {
    > * {
      grid-column: 2 / 3;
    }
  }

  .section-grid__small-desktop-col-span--2-4 {
    > * {
      grid-column: 2 / 4;
    }
  }

  .section-grid__small-desktop-col-span--2-5 {
    > * {
      grid-column: 2 / 5;
    }
  }

  .section-grid__small-desktop-col-span--2-6 {
    > * {
      grid-column: 2 / 6;
    }
  }

  .section-grid__small-desktop-col-span--2-7 {
    > * {
      grid-column: 2 / 7;
    }
  }

  .section-grid__small-desktop-col-span--2-8 {
    > * {
      grid-column: 2 / 8;
    }
  }

  .section-grid__small-desktop-col-span--2-9 {
    > * {
      grid-column: 2 / 9;
    }
  }

  .section-grid__small-desktop-col-span--2-10 {
    > * {
      grid-column: 2 / 10;
    }
  }

  .section-grid__small-desktop-col-span--2-11 {
    > * {
      grid-column: 2 / 11;
    }
  }

  .section-grid__small-desktop-col-span--2-12 {
    > * {
      grid-column: 2 / 12;
    }
  }

  .section-grid__small-desktop-col-span--2-end, 
  .section-grid__small-desktop-col-span--2-13 {
    > * {
      grid-column: 2 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--3-4 {
    > * {
      grid-column: 3 / 4;
    }
  }

  .section-grid__small-desktop-col-span--3-5 {
    > * {
      grid-column: 3 / 5;
    }
  }

  .section-grid__small-desktop-col-span--3-6 {
    > * {
      grid-column: 3 / 6;
    }
  }

  .section-grid__small-desktop-col-span--3-7 {
    > * {
      grid-column: 3 / 7;
    }
  }

  .section-grid__small-desktop-col-span--3-8 {
    > * {
      grid-column: 3 / 8;
    }
  }

  .section-grid__small-desktop-col-span--3-9 {
    > * {
      grid-column: 3 / 9;
    }
  }

  .section-grid__small-desktop-col-span--3-10 {
    > * {
      grid-column: 3 / 10;
    }
  }

  .section-grid__small-desktop-col-span--3-11 {
    > * {
      grid-column: 3 / 11;
    }
  }

  .section-grid__small-desktop-col-span--3-12 {
    > * {
      grid-column: 3 / 12;
    }
  }

  .section-grid__small-desktop-col-span--3-end, 
  .section-grid__small-desktop-col-span--3-13 {
    > * {
      grid-column: 3 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--4-5 {
    > * {
      grid-column: 4 / 5;
    }
  }

  .section-grid__small-desktop-col-span--4-6 {
    > * {
      grid-column: 4 / 6;
    }
  }

  .section-grid__small-desktop-col-span--4-7 {
    > * {
      grid-column: 4 / 7;
    }
  }

  .section-grid__small-desktop-col-span--4-8 {
    > * {
      grid-column: 4 / 8;
    }
  }

  .section-grid__small-desktop-col-span--4-9 {
    > * {
      grid-column: 4 / 9;
    }
  }

  .section-grid__small-desktop-col-span--4-10 {
    > * {
      grid-column: 4 / 10;
    }
  }

  .section-grid__small-desktop-col-span--4-11 {
    > * {
      grid-column: 4 / 11;
    }
  }

  .section-grid__small-desktop-col-span--4-12 {
    > * {
      grid-column: 4 / 12;
    }
  }

  .section-grid__small-desktop-col-span--4-end, 
  .section-grid__small-desktop-col-span--4-13 {
    > * {
      grid-column: 4 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--5-6 {
    > * {
      grid-column: 5 / 6;
    }
  }

  .section-grid__small-desktop-col-span--5-7 {
    > * {
      grid-column: 5 / 7;
    }
  }

  .section-grid__small-desktop-col-span--5-8 {
    > * {
      grid-column: 5 / 8;
    }
  }

  .section-grid__small-desktop-col-span--5-9 {
    > * {
      grid-column: 5 / 9;
    }
  }

  .section-grid__small-desktop-col-span--5-10 {
    > * {
      grid-column: 5 / 10;
    }
  }

  .section-grid__small-desktop-col-span--5-11 {
    > * {
      grid-column: 5 / 11;
    }
  }

  .section-grid__small-desktop-col-span--5-12 {
    > * {
      grid-column: 5 / 12;
    }
  }

  .section-grid__small-desktop-col-span--5-end, 
  .section-grid__small-desktop-col-span--5-13 {
    > * {
      grid-column: 5 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--6-7 {
    > * {
      grid-column: 6 / 7;
    }
  }

  .section-grid__small-desktop-col-span--6-8 {
    > * {
      grid-column: 6 / 8;
    }
  }

  .section-grid__small-desktop-col-span--6-9 {
    > * {
      grid-column: 6 / 9;
    }
  }

  .section-grid__small-desktop-col-span--6-10 {
    > * {
      grid-column: 6 / 10;
    }
  }

  .section-grid__small-desktop-col-span--6-11 {
    > * {
      grid-column: 6 / 11;
    }
  }

  .section-grid__small-desktop-col-span--6-12 {
    > * {
      grid-column: 6 / 12;
    }
  }

  .section-grid__small-desktop-col-span--6-end, 
  .section-grid__small-desktop-col-span--6-13 {
    > * {
      grid-column: 6 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--7-8 {
    > * {
      grid-column: 7 / 8;
    }
  }

  .section-grid__small-desktop-col-span--7-9 {
    > * {
      grid-column: 7 / 9;
    }
  }

  .section-grid__small-desktop-col-span--7-10 {
    > * {
      grid-column: 7 / 10;
    }
  }

  .section-grid__small-desktop-col-span--7-11 {
    > * {
      grid-column: 7 / 11;
    }
  }

  .section-grid__small-desktop-col-span--7-12 {
    > * {
      grid-column: 7 / 12;
    }
  }

  .section-grid__small-desktop-col-span--7-end, 
  .section-grid__small-desktop-col-span--7-13 {
    > * {
      grid-column: 7 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--8-9 {
    > * {
      grid-column: 8 / 9;
    }
  }

  .section-grid__small-desktop-col-span--8-10 {
    > * {
      grid-column: 8 / 10;
    }
  }

  .section-grid__small-desktop-col-span--8-11 {
    > * {
      grid-column: 8 / 11;
    }
  }

  .section-grid__small-desktop-col-span--8-12 {
    > * {
      grid-column: 8 / 12;
    }
  }

  .section-grid__small-desktop-col-span--8-end, 
  .section-grid__small-desktop-col-span--8-13 {
    > * {
      grid-column: 8 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--9-10 {
    > * {
      grid-column: 9 / 10;
    }
  }

  .section-grid__small-desktop-col-span--9-11 {
    > * {
      grid-column: 9 / 11;
    }
  }

  .section-grid__small-desktop-col-span--9-12 {
    > * {
      grid-column: 9 / 12;
    }
  }

  .section-grid__small-desktop-col-span--9-end, 
  .section-grid__small-desktop-col-span--9-13 {
    > * {
      grid-column: 9 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--10-11 {
    > * {
      grid-column: 10 / 11;
    }
  }

  .section-grid__small-desktop-col-span--10-12 {
    > * {
      grid-column: 10 / 12;
    }
  }

  .section-grid__small-desktop-col-span--10-end, 
  .section-grid__small-desktop-col-span--10-13 {
    > * {
      grid-column: 10 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--11-12 {
    > * {
      grid-column: 11 / 12;
    }
  }

  .section-grid__small-desktop-col-span--11-end, 
  .section-grid__small-desktop-col-span--11-13 {
    > * {
      grid-column: 11 / small-desktop-grid-end;
    }
  }

  .section-grid__small-desktop-col-span--12-end, 
  .section-grid__small-desktop-col-span--12-13 {
    > * {
      grid-column: 12 / small-desktop-grid-end;
    }
  }

}

@media (min-width: 1536px) {
  .section-grid__desktop-col-span--1-2,
  .section-grid__desktop-col-span--start-2 {
    > * {
      grid-column: desktop-grid-start / 2 ;
    }
  }

  .section-grid__desktop-col-span--1-2 {
    > * {
      grid-column: 1 / 2;
    }
  }

  .section-grid__desktop-col-span--1-3,
  .section-grid__desktop-col-span--start-3 {
    > * {
      grid-column: desktop-grid-start / 3 ;
    }
  }

  .section-grid__desktop-col-span--1-3 {
    > * {
      grid-column: 1 / 3;
    }
  }

  .section-grid__desktop-col-span--1-4,
  .section-grid__desktop-col-span--start-4 {
    > * {
      grid-column: desktop-grid-start / 4 ;
    }
  }

  .section-grid__desktop-col-span--1-4 {
    > * {
      grid-column: 1 / 4;
    }
  }

  .section-grid__desktop-col-span--1-5,
  .section-grid__desktop-col-span--start-5 {
    > * {
      grid-column: desktop-grid-start / 5 ;
    }
  }

  .section-grid__desktop-col-span--1-5 {
    > * {
      grid-column: 1 / 5;
    }
  }

  .section-grid__desktop-col-span--1-6,
  .section-grid__desktop-col-span--start-6 {
    > * {
      grid-column: desktop-grid-start / 6 ;
    }
  }

  .section-grid__desktop-col-span--1-6 {
    > * {
      grid-column: 1 / 6;
    }
  }

  .section-grid__desktop-col-span--1-7,
  .section-grid__desktop-col-span--start-7 {
    > * {
      grid-column: desktop-grid-start / 7 ;
    }
  }

  .section-grid__desktop-col-span--1-7 {
    > * {
      grid-column: 1 / 7;
    }
  }

  .section-grid__desktop-col-span--1-8,
  .section-grid__desktop-col-span--start-8 {
    > * {
      grid-column: desktop-grid-start / 8 ;
    }
  }

  .section-grid__desktop-col-span--1-8 {
    > * {
      grid-column: 1 / 8;
    }
  }

  .section-grid__desktop-col-span--1-9,
  .section-grid__desktop-col-span--start-9 {
    > * {
      grid-column: desktop-grid-start / 9 ;
    }
  }

  .section-grid__desktop-col-span--1-9 {
    > * {
      grid-column: 1 / 9;
    }
  }

  .section-grid__desktop-col-span--1-10,
  .section-grid__desktop-col-span--start-10 {
    > * {
      grid-column: desktop-grid-start / 10 ;
    }
  }

  .section-grid__desktop-col-span--1-10 {
    > * {
      grid-column: 1 / 10;
    }
  }

  .section-grid__desktop-col-span--1-11,
  .section-grid__desktop-col-span--start-11 {
    > * {
      grid-column: desktop-grid-start / 11 ;
    }
  }

  .section-grid__desktop-col-span--1-11 {
    > * {
      grid-column: 1 / 11;
    }
  }

  .section-grid__desktop-col-span--1-12,
  .section-grid__desktop-col-span--start-12 {
    > * {
      grid-column: desktop-grid-start / 12 ;
    }
  }

  .section-grid__desktop-col-span--1-12 {
    > * {
      grid-column: 1 / 12;
    }
  }

  .section-grid__desktop-col-span--1-13,
  .section-grid__desktop-col-span--start-13 {
    > * {
      grid-column: desktop-grid-start / 13 ;
    }
  }

  .section-grid__desktop-col-span--1-end, 
  .section-grid__desktop-col-span--1-13,
  .section-grid__desktop-col-span--full {
    > * {
      grid-column: 1 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--2-3 {
    > * {
      grid-column: 2 / 3;
    }
  }

  .section-grid__desktop-col-span--2-4 {
    > * {
      grid-column: 2 / 4;
    }
  }

  .section-grid__desktop-col-span--2-5 {
    > * {
      grid-column: 2 / 5;
    }
  }

  .section-grid__desktop-col-span--2-6 {
    > * {
      grid-column: 2 / 6;
    }
  }

  .section-grid__desktop-col-span--2-7 {
    > * {
      grid-column: 2 / 7;
    }
  }

  .section-grid__desktop-col-span--2-8 {
    > * {
      grid-column: 2 / 8;
    }
  }

  .section-grid__desktop-col-span--2-9 {
    > * {
      grid-column: 2 / 9;
    }
  }

  .section-grid__desktop-col-span--2-10 {
    > * {
      grid-column: 2 / 10;
    }
  }

  .section-grid__desktop-col-span--2-11 {
    > * {
      grid-column: 2 / 11;
    }
  }

  .section-grid__desktop-col-span--2-12 {
    > * {
      grid-column: 2 / 12;
    }
  }

  .section-grid__desktop-col-span--2-end, 
  .section-grid__desktop-col-span--2-13 {
    > * {
      grid-column: 2 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--3-4 {
    > * {
      grid-column: 3 / 4;
    }
  }

  .section-grid__desktop-col-span--3-5 {
    > * {
      grid-column: 3 / 5;
    }
  }

  .section-grid__desktop-col-span--3-6 {
    > * {
      grid-column: 3 / 6;
    }
  }

  .section-grid__desktop-col-span--3-7 {
    > * {
      grid-column: 3 / 7;
    }
  }

  .section-grid__desktop-col-span--3-8 {
    > * {
      grid-column: 3 / 8;
    }
  }

  .section-grid__desktop-col-span--3-9 {
    > * {
      grid-column: 3 / 9;
    }
  }

  .section-grid__desktop-col-span--3-10 {
    > * {
      grid-column: 3 / 10;
    }
  }

  .section-grid__desktop-col-span--3-11 {
    > * {
      grid-column: 3 / 11;
    }
  }

  .section-grid__desktop-col-span--3-12 {
    > * {
      grid-column: 3 / 12;
    }
  }

  .section-grid__desktop-col-span--3-end, 
  .section-grid__desktop-col-span--3-13 {
    > * {
      grid-column: 3 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--4-5 {
    > * {
      grid-column: 4 / 5;
    }
  }

  .section-grid__desktop-col-span--4-6 {
    > * {
      grid-column: 4 / 6;
    }
  }

  .section-grid__desktop-col-span--4-7 {
    > * {
      grid-column: 4 / 7;
    }
  }

  .section-grid__desktop-col-span--4-8 {
    > * {
      grid-column: 4 / 8;
    }
  }

  .section-grid__desktop-col-span--4-9 {
    > * {
      grid-column: 4 / 9;
    }
  }

  .section-grid__desktop-col-span--4-10 {
    > * {
      grid-column: 4 / 10;
    }
  }

  .section-grid__desktop-col-span--4-11 {
    > * {
      grid-column: 4 / 11;
    }
  }

  .section-grid__desktop-col-span--4-12 {
    > * {
      grid-column: 4 / 12;
    }
  }

  .section-grid__desktop-col-span--4-end, 
  .section-grid__desktop-col-span--4-13 {
    > * {
      grid-column: 4 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--5-6 {
    > * {
      grid-column: 5 / 6;
    }
  }

  .section-grid__desktop-col-span--5-7 {
    > * {
      grid-column: 5 / 7;
    }
  }

  .section-grid__desktop-col-span--5-8 {
    > * {
      grid-column: 5 / 8;
    }
  }

  .section-grid__desktop-col-span--5-9 {
    > * {
      grid-column: 5 / 9;
    }
  }

  .section-grid__desktop-col-span--5-10 {
    > * {
      grid-column: 5 / 10;
    }
  }

  .section-grid__desktop-col-span--5-11 {
    > * {
      grid-column: 5 / 11;
    }
  }

  .section-grid__desktop-col-span--5-12 {
    > * {
      grid-column: 5 / 12;
    }
  }

  .section-grid__desktop-col-span--5-end, 
  .section-grid__desktop-col-span--5-13 {
    > * {
      grid-column: 5 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--6-7 {
    > * {
      grid-column: 6 / 7;
    }
  }

  .section-grid__desktop-col-span--6-8 {
    > * {
      grid-column: 6 / 8;
    }
  }

  .section-grid__desktop-col-span--6-9 {
    > * {
      grid-column: 6 / 9;
    }
  }

  .section-grid__desktop-col-span--6-10 {
    > * {
      grid-column: 6 / 10;
    }
  }

  .section-grid__desktop-col-span--6-11 {
    > * {
      grid-column: 6 / 11;
    }
  }

  .section-grid__desktop-col-span--6-12 {
    > * {
      grid-column: 6 / 12;
    }
  }

  .section-grid__desktop-col-span--6-end, 
  .section-grid__desktop-col-span--6-13 {
    > * {
      grid-column: 6 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--7-8 {
    > * {
      grid-column: 7 / 8;
    }
  }

  .section-grid__desktop-col-span--7-9 {
    > * {
      grid-column: 7 / 9;
    }
  }

  .section-grid__desktop-col-span--7-10 {
    > * {
      grid-column: 7 / 10;
    }
  }

  .section-grid__desktop-col-span--7-11 {
    > * {
      grid-column: 7 / 11;
    }
  }

  .section-grid__desktop-col-span--7-12 {
    > * {
      grid-column: 7 / 12;
    }
  }

  .section-grid__desktop-col-span--7-end, 
  .section-grid__desktop-col-span--7-13 {
    > * {
      grid-column: 7 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--8-9 {
    > * {
      grid-column: 8 / 9;
    }
  }

  .section-grid__desktop-col-span--8-10 {
    > * {
      grid-column: 8 / 10;
    }
  }

  .section-grid__desktop-col-span--8-11 {
    > * {
      grid-column: 8 / 11;
    }
  }

  .section-grid__desktop-col-span--8-12 {
    > * {
      grid-column: 8 / 12;
    }
  }

  .section-grid__desktop-col-span--8-end, 
  .section-grid__desktop-col-span--8-13 {
    > * {
      grid-column: 8 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--9-10 {
    > * {
      grid-column: 9 / 10;
    }
  }

  .section-grid__desktop-col-span--9-11 {
    > * {
      grid-column: 9 / 11;
    }
  }

  .section-grid__desktop-col-span--9-12 {
    > * {
      grid-column: 9 / 12;
    }
  }

  .section-grid__desktop-col-span--9-end, 
  .section-grid__desktop-col-span--9-13 {
    > * {
      grid-column: 9 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--10-11 {
    > * {
      grid-column: 10 / 11;
    }
  }

  .section-grid__desktop-col-span--10-12 {
    > * {
      grid-column: 10 / 12;
    }
  }

  .section-grid__desktop-col-span--10-end, 
  .section-grid__desktop-col-span--10-13 {
    > * {
      grid-column: 10 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--11-12 {
    > * {
      grid-column: 11 / 12;
    }
  }

  .section-grid__desktop-col-span--11-end, 
  .section-grid__desktop-col-span--11-13 {
    > * {
      grid-column: 11 / desktop-grid-end;
    }
  }

  .section-grid__desktop-col-span--12-end, 
  .section-grid__desktop-col-span--12-13 {
    > * {
      grid-column: 12 / desktop-grid-end;
    }
  }

}

